// Colors
$dark-blue: hsla(248, 100%, 9%, 0.96);
$white: hsla(360, 100%, 100%, 1);
$primary: hsl(255, 64%, 35%);
$dark-grey: hsla(0, 0%, 20%);
$light-grey: hsl(0, 0%, 83%);
$red: hsla(0, 100%, 50%, 0.8);

// Google button
$google-blue: #4285f4;
$button-active-blue: #1669f2;